#about {
    display: flex;
    height: 400px;
    width: 100%;
    padding: auto;
    gap: 135px;
    max-width: fit-content;
    margin: auto;
    margin-bottom: 10%;
  }
  #about img{
    border-radius: 16px;
  
  }
  #about-text {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: auto;
  height: fit-content;
  }
  #about-text h1 {
    margin: 0px;
  }
  #about-text h2 {
    margin-top: -16px;
    margin-bottom: 0px;
  }
  #about-text p {
    width: 400px;
  }